@font-face {
  font-family: 'Roboto';
  src: url({{.FontURL}}) format('truetype');
}

body {
  background-color: {{.Background}};
  color: {{.Foreground}};
  font-family: 'Roboto',
  sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.category-title {
  margin-left: 0.25rem;
}

.category-block {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}   

.service-block {
  padding: 0.3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  margin: 0.25rem;
}

.service-block:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.service-icon {
  fill: {{.Foreground}};
  margin: auto;
}

.service-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  width: 83.33%;
}

.notes-block {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.note-block {
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  margin: 0.25rem;
}

.note-icon {
  fill: {{.Foreground}};
  margin-right: 0.5rem;
}

.note-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  width: 83.33%;
}

.flex-center {
  align-items: center;
  display: flex;
}

@media (min-width: 768px) {
  .category-block {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

   .notes-block {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .category-block {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .notes-block {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .category-block {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .notes-block {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}