<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <main class="main">
    <div>
      {{range $category, $services := .Data.Services}}
      {{if ne $category ""}}
      <h2 class="category-title">{{$category}}</h2>
      {{end}}
      <div class="category-block">
        {{range $index, $service := $services}}
        <a href="{{$service.URL}}" target="_blank">
          <div class="service-block">
            <div class="flex-center">
              {{if eq $service.Icon ""}}
              <svg class="service-icon" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path
                  d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" />
              </svg>
              {{else}}
              <img alt="service_icon" class="service-icon" width="25px" height="25px" src="{{$service.Icon}}" />
              {{end}}
              <p class="service-title">
                {{$service.Name}}
              </p>
            </div>
          </div>
        </a>
        {{end}}
      </div>
      {{end}}
      {{ if gt (len .Data.Notes) 0 }}
      <div class="notes-block">
        {{range $index, $note := .Data.Notes}}
        <div class="note-block">
          <div class="flex-center">
            <svg class="note-icon" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H288V368c0-26.5 21.5-48 48-48H448V96c0-35.3-28.7-64-64-64H64zM448 352H402.7 336c-8.8 0-16 7.2-16 16v66.7V480l32-32 64-64 32-32z" />
            </svg>
            <p class="note-title">{{$note.Name}} </p>
          </div>
          <p class="note-text">{{$note.Text}}</p>
        </div>
        {{end}}
      </div>
      {{end}}
    </div>
  </main>
</body>

</html>