@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto";
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
}